<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{header :: navi(Home)}"/>
<h1>Приемы</h1>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th> Дата</th>
        <th> Врач</th>
        <th> Пациент</th>
        <th sec:authorize="hasRole('ADMIN')"> Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="priem: ${priems}">
        <td th:text="${#dates.format(priem.date, 'dd.MM.yyyy')}" ></td>
        <td th:text="${priem.doctor}"></td>
        <td th:text="${priem.patient}"></td>
        <td sec:authorize="hasRole('ADMIN')">
<!--                 <a th:href="@{/doctors/priems/edit/{id}(id=${priem.id})}"-->
<!--                   class="btn btn-primary">Изменить</a>-->
            <a th:href="@{/doctors/priems/del/{id} (id=${priem.id})}" class="btn btn-danger">Удалить </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>