<div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Добавить пациента</h1>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" method="POST">
              <div class ="form-group">
                  <label> Фамилия </label>
                  <input
                          type = "text"
                          name = "lastname"
                          [(ngModel)]="box.lastname"
                          class = "form-control"
                          placeholder="Иванов"
                  />
              </div>
              <div class ="form-group">
                  <label> Имя </label>
                  <input
                          type = "text"
                          name = "firstname"
                          [(ngModel)]="box.firstname"
                          class = "form-control"
                          placeholder="Иван"
                  />
              </div>
              <div class ="form-group">
                  <label> Отчество </label>
                  <input
                          type = "text"
                          name = "middlename"
                          [(ngModel)]="box.middlename"
                          class = "form-control"
                          placeholder="Иванович"
                  />
              </div>
  
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Создать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>