<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
      <th> Фамилия</th>
      <th> Имя</th>
      <th>Отчество</th>
      <th [hidden]="!this.app.authAdmin"> Действия</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor ="let patient of patients">
  <td>{{patient.lastname}}</td>
  <td >{{patient.firstname}}</td>
  <td>{{patient.middlename}}</td>
    <td [hidden]="!this.app.authAdmin">
        <a routerLink="/editpatient/{{patient.id}}" routerLinkActive="active-link"
           class="btn btn-primary">Изменить</a>
        <a (click)="remove(patient.id)" class="btn btn-danger">Удалить </a>
    </td>
</tr>
  </tbody>
</table>